<div class="container-fluid full-width-container value-added-detail-page">
    <div>
        <div class="pull-right table-title-top-action">
            <div class="pmd-textfield pull-left">
              <input type="text" id="exampleInputAmount" class="form-control" placeholder="Recherche..."><span class="pmd-textfield-focused"></span>
            </div>
            <a href="javascript:void(0);" class="btn btn-info pmd-btn-raised add-btn pmd-ripple-effect pull-left">Rechercher</a>
            <a href="javascript:void(0);" class="btn btn-primary pmd-btn-raised add-btn pmd-ripple-effect pull-left">Ajouter</a>
        </div>
        <!-- Title -->
        <h1 class="section-title" id="services">
            <span>Profil</span>
        </h1><!-- End Title -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
          <li><a href="index.html">Tableau de bord</a></li>
          <li class="active">Liste des profils</li>
        </ol><!--breadcrum end-->
    </div>
    <!-- Table -->
    <div class="table-responsive pmd-card pmd-z-depth">
        <table id="example" class="table table-mc-red pmd-table">
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Ticket No">PMD484150</td>
                    <td data-title="date">2016-09-20 15:50:00</td>
                    <td class="pmd-table-row-action">
                        <a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
                            <i class="material-icons md-dark pmd-sm">edit</i>
                        </a>
                        <a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
                            <i class="material-icons md-dark pmd-sm">delete</i>
                        </a>					
                    </td>
                </tr>
          
                <tr>
                    <td data-title="Ticket No">PMD484150</td>
                    <td data-title="date">2016-09-20 15:50:00</td>
                    <td class="pmd-table-row-action">
                        <a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
                            <i class="material-icons md-dark pmd-sm">edit</i>
                        </a>
                        <a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
                            <i class="material-icons md-dark pmd-sm">delete</i>
                        </a>					
                    </td>
                </tr>
          
          
        </tbody>
    </table>
    </div>
    <!-- Card Footer -->
    <div class="pmd-card-footer">
      <ul class="pmd-pagination pull-right list-inline">
          <span>Rows per page:</span> <span class="dropdown pmd-dropdown">
          <button class="btn pmd-ripple-effect pmd-btn-flat btn-link dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-expanded="false">10 <span class="caret"></span></button>
          <div class="pmd-dropdown-menu-container"><div class="pmd-dropdown-menu-bg"></div><ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu pm-ini">
              <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">10</a></li>
              <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">20</a></li>
              <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">30</a></li>
              <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">40</a></li>
              <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">50</a></li>
          </ul></div>
          </span> <span>1-10 of 100</span> <a href="javascript:void(0);" aria-label="Previous"><i class="material-icons md-dark pmd-sm">keyboard_arrow_left</i></a> <a href="javascript:void(0);" aria-label="Next"><i class="material-icons md-dark pmd-sm">keyboard_arrow_right</i></a>
      </ul>
    </div>
</div>
