<div class="container-fluid full-width-container value-added-detail-page">
  <div>
    <div class="pull-right table-title-top-action">

      <a routerLink="/laboratoire-ajout"
        class="btn btn-primary pmd-btn-raised add-btn pmd-ripple-effect pull-left">Ajouter</a>
    </div>
    <!-- Title -->
    <h1 class="section-title" id="services">
      <span>{{pageTitre}}</span>
    </h1><!-- End Title -->
    <!--breadcrum start-->
    <ol class="breadcrumb text-left">
      <li><a href="/">Tableau de bord</a></li>
      <li class="active">{{pageTitre}}</li>
    </ol>
    <!--breadcrum end-->
  </div>
  <!-- Table -->
  <div class=" table-responsive pmd-card pmd-z-depth">
    <table id="example" class="table table-striped  table-mc-red pmd-table">
      <thead>
        <tr>
          <th>Nom court</th>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let val of laboratoireList'>
          <td data-title="Ticket No">{{val.nomCourt}}</td>
          <td data-title="date">{{val.nom}}</td>
          <td class="pmd-table-row-action">
            <a href="javascript:void(0);" (click)="editProfil(val)"  class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
              <i class="material-icons md-dark pmd-sm">edit</i>
            </a>
            <a href="javascript:void(0);" (click)="openModal(val)" data-toggle="modal" data-target="#exampleModal" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
              <i class="material-icons md-dark pmd-sm">delete</i>
            </a>
          </td>
        </tr>


      </tbody>
    </table>
  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label for="recipient-name" class="control-label">Voulez vous effectuer cette opération? {{titre}}</label>
                 
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button (click)="deleteProfil(laboratoireId)" data-dismiss="modal" type="button" class="btn btn-info">Valider</button>
          </div>
      </div>
  </div>
</div>