<div class="container-fluid full-width-container value-added-detail-page">
  <div>
    <div class="pull-right table-title-top-action">

    </div>
    <!-- Title -->
    <h1 class="section-title" id="services">
      <span>{{pageTitre}}</span>
    </h1><!-- End Title -->
    <!--breadcrum start-->
    <ol class="breadcrumb text-left">
      <li><a href="/">Tableau de bord</a></li>
      <li class="active">{{pageTitre}}</li>
    </ol>
    <!--breadcrum end-->
  </div>
  <!-- form -->
  <div class="section">

    <form id="validationForm" action="" method="post">
      <div class="pmd-card pmd-z-depth">
        <div class="pmd-card-body">
          <div class="group-fields clearfix row">
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Adresse de l'api DHIS 2*
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Adresse de l'api DHIS 2*
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
          </div>
          <div class="group-fields clearfix row ">
            <div class="pmd-card-actions pull-right">
              <a href="javascript:void(0);" class="btn btn-primary next">Valider</a>
              <a href="javascript:void(0);" class="btn btn-default">Annuler</a>
            </div>
          </div>
        </div>

      </div> <!-- section content end -->
    </form>
  </div>

  <div class="section">
    <h2>Correspondance des données </h2>
    <form id="validationForm" action="" method="post">
      <div class="pmd-card pmd-z-depth">
        <div class="pmd-card-body">
          <div class="group-fields clearfix row">
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Adresse de l'api DHIS 2*
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Adresse de l'api DHIS 2*
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
          </div>
          <div class="group-fields clearfix row ">
            <div class="pmd-card-actions pull-right">
              <a href="javascript:void(0);" class="btn btn-primary next">Valider</a>
              <a href="javascript:void(0);" class="btn btn-default">Annuler</a>
            </div>
          </div>
        </div>

      </div> <!-- section content end -->
    </form>
  </div>

</div>