<!--content area start-->
<div id="content" class="content-area dashboard">
  <!--alerte-->
  <div ng-if="localStorage.getItem('feedback')=='ok'">
    <div class="alert alert-success">
      <i class="fa fa-check-circle"></i> Opération effectuée avec succès
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <!--end alert-->
    <div class="container-fluid">
      <div class="row" id="card-masonry">

        <div class="pmd-card pmd-z-depth col-md-12">
          <div class="pmd-tabs">
            <div class="pmd-tab-active-bar"></div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#structure_sanitaire" aria-controls="default" role="tab"
                  data-toggle="tab">Configuration serveur</a></li>
              <li role="centre_sante"><a href="#centre_sante" aria-controls="scrollable" role="tab"
                  data-toggle="tab">Correspondance des données</a></li>
              <li role="phamarcie"><a href="#phamarcie" aria-controls="fixed" role="tab" data-toggle="tab">Chargement
                  des
                  données</a>
              </li>
            </ul>
          </div>
          <div class="pmd-card-body">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="structure_sanitaire">
                <div class="col-md-12">
                  <div style="display: block; width: 100%">
                    <div class="section">

                      <form [formGroup]="configurationForm" (ngSubmit)="onSubmitForm()" id="validationForm"
                        method="post">
                        <div class="group-fields clearfix row">
                          <div class="col-lg-6">
                            <div class="form-group pmd-textfield">
                              <label for="regular1" class="control-label">
                                Adresse de l'api DHIS 2*
                              </label>
                              <input formControlName="apiUrl" type="text" id="apiUrl" class="form-control">
                            </div>
                            <!-- <div *ngIf="submitted && apiUrl.errors" class="alert alert-danger">
                              Name is required
                            </div> -->
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                              <label for="regular1" class="control-label">
                                Requete pour les unités d'organisations
                              </label>
                              <input formControlName="uniteDefaultQuery" type="text" id="uniteDefaultQuery"
                                class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="group-fields clearfix row">
                          <div class="col-lg-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                              <label for="regular1" class="control-label">
                                Login*
                              </label>
                              <input formControlName="apiLogin" type="text" id="apiLogin" class="form-control">
                            </div>

                          </div>
                          <div class="col-lg-6">

                          </div>
                        </div>
                        <div class="group-fields clearfix row">
                          <div class="col-lg-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                              <label for="regular1" class="control-label">
                                Mot de passe*
                              </label>
                              <input formControlName="apiPassword" type="text" id="apiPassword" class="form-control">
                            </div>

                          </div>
                          <div class="col-lg-6">

                          </div>
                        </div>
                        <div class="group-fields clearfix row ">
                          <div class="pmd-card-actions pull-right">
                            <button [disabled]="configurationForm.invalid" type="submit"
                              class="btn btn-primary next">Valider</button>
                            <a href="javascript:void(0);" class="btn btn-default">Annuler</a>
                          </div>

                        </div> <!-- section content end -->
                      </form>
                    </div>
                  </div>
                </div>

              </div>
              <div role="tabpanel" class="tab-pane " id="centre_sante">
                <div style="display: block">
                  <div class="pull-right table-title-top-action">

                    <a routerLink="/pharmacie-ajout"
                      class="btn btn-primary pmd-btn-raised add-btn pmd-ripple-effect pull-left">Ajouter</a>
                  </div>
                  <div class=" table-responsive ">
                    <table id="example" class="table table-striped  table-mc-red pmd-table">
                      <thead>
                        <tr>
                          <th>Source DHIS2</th>
                          <th>Correspondance</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let val of pharmacieList'>
                          <td data-title="Ticket No">{{val.nomCourt}}</td>
                          <td data-title="date">{{val.nom}}</td>
                          <td class="pmd-table-row-action">
                            <a href="javascript:void(0);" (click)="editProfil(val)"
                              class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
                              <i class="material-icons md-dark pmd-sm">edit</i>
                            </a>
                            <a href="javascript:void(0);" (click)="openModal(val)" data-toggle="modal"
                              data-target="#exampleModal"
                              class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
                              <i class="material-icons md-dark pmd-sm">delete</i>
                            </a>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane " id="phamarcie">

                <div style="display: block">
                  <div class="group-fields clearfix row ">
                    <div class="col-lg-6">
                      <div class="pmd-card-actions pull-right">
                        <a  [class.disabled]="false" href="javascript:void(0);" (click)="chargerUnite()" class="btn btn-primary next">Charger les unités
                          d'organisations</a>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="pmd-card-actions pull-right">
                        <a href="javascript:void(0);" class="btn btn-primary next">Charger les services</a>
                      </div>
                    </div>

                  </div>
                </div>

                <div style="display: block">
                  <div class="group-fields clearfix row ">
                    <div class="col-lg-6">
                      <div class="pmd-card-actions pull-right">
                        <a  [class.disabled]="false" href="javascript:void(0);" (click)="chargerUniteCoordonnees()" class="btn btn-primary next">Charger les GPS des unités
                          d'organisations</a>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="pmd-card-actions pull-right">
                        <a href="javascript:void(0);" class="btn btn-primary next">Charger les services</a>
                      </div>
                    </div>

                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
  <!--end content area-->

  <div class="loading">
    <ngx-loading [show]="loading"
      [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}"
      [template]="loadingTemplate"></ngx-loading>
  </div>