<!-- Left sidebar -->
<aside id="basicSidebar"
  class="pmd-sidebar  sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons"
  role="navigation">
  <ul style="padding: 10dp!important" class="nav pmd-sidebar-nav" id="menu_recherche">
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">
        <div class="row">
          <div class="col-lg-12 custom-col-12">
            <h3 class="heading">Recherche par structure</h3>
            <div class="row">
              <form class="form-horizontal" [formGroup]="rechercheForm">
                <div class="group-fields clearfix row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                      <label for="regular1" class="control-label">
                        Nom
                      </label>
                      <input type="text" formControlName="nomUnite" class="form-control"><span
                        class="pmd-textfield-focused"></span>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                      <label for="regular1" class="control-label">
                        Code
                      </label>
                      <input type="text" formControlName="codeUnite" class="form-control"><span
                        class="pmd-textfield-focused"></span>
                    </div>
                    <a href="javascript:void(0);" (click)=" rechercher()"
                      class="btn btn-info pmd-btn-raised add-btn pmd-ripple-effect pull-right">Rechercher</a>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ul>
</aside><!-- End Left sidebar -->
<!-- Sidebar Ends -->

<!--content area start-->
<div id="content" class="pmd-content inner-page">
  <!--tab start-->
  <div class="container-fluid full-width-container blank">
    <!-- Title -->

    <!--End Title-->

    <!--                breadcrum start
                                    <ol class="breadcrumb text-left">
                                        <li><a href="index.html">Dashboard</a></li>
                                        <li class="active">Blank</li>
                                    </ol>breadcrum end-->


    <!-- content -->


    <!--content area start-->
    <div id="content" class="content-area dashboard">

      <div class="container-fluid">
        <div *ngIf="isLoading" id="public-loading"></div>
        <div *ngIf="isReLoading" class="component-box">

          <!-- headings example -->
          <div *ngFor="let hopital of listHopital">
            <div class="pmd-card pmd-z-depth pmd-card-custom-view">
              <div class="pmd-card-body">
                <div class="row">
                  <div class="col-lg-8">
                    <a href="/p/hopital-detail">
                      <h1 style="color: #4285f4"> {{ hopital.code }} | {{ hopital.nomCourt }}</h1>
                    </a>
                    <hr />
                  </div>
                  <div class="col-lg-4">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <h3> {{ hopital.nom }} </h3>
                  </div>
                  <div class="col-lg-4">
                    <a href="javascript:void(0);" class="btn btn-primary 
            pmd-btn-raised add-btn pmd-ripple-effect pull-right">Statut : Operationnel</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <h3>013 rue de la cave</h3>
                  </div>
                  <div class="col-lg-4">
                    <a href="javascript:void(0);" class="btn btn-primary 
              pmd-btn-raised add-btn pmd-ripple-effect pull-right">Ouvert le
                      {{ hopital.dateOuverture | date:'dd/MM/yyyy' }}</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end headings example -->

        </div>
      </div>

    </div>
    <!--end content area-->




  </div><!-- tab end -->

</div><!-- content area end -->