<!-- Header Starts -->
<!--Start Nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">

    <div class="container-fluid">

        <div class="pmd-navbar-right-icon pull-right navigation">

            <!-- Notifications -->
            <div class="dropdown notification icons pmd-dropdown">

                <a style="color: white!important" href="javascript:void(0)" title="Notification"
                    class="dropdown-toggle pmd-ripple-effect" data-toggle="dropdown" role="button" aria-expanded="true">
                    Bienvenue
                </a>

                <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu">
                    <!-- Card header -->
                    <div class="pmd-card-title">
                        <div class="media-body media-middle">
                            <h3 class="pmd-card-title-text">Votre espace</h3>
                        </div>
                    </div>

                    <!-- Notifications list -->
                    <ul class="list-group pmd-list-avatar pmd-card-list">
                        <li class="list-group-item unread">
                            <a href="javascript:void(0)">
                                <div class="media-left">
                                    <i class="material-icons md-dark pmd-sm ">person</i>
                                </div>
                                <div class="media-body">
                                    <span class="list-group-item-heading">Consulter votre profil</span>
                                    <span class="list-group-item-text">Profil</span>
                                </div>
                            </a>
                        </li>


                    </ul><!-- End notifications list -->

                </div>


            </div> <!-- End notifications -->

        </div>
        <div class="pmd-navbar-right-icon pull-right navigation">

            <!-- Notifications -->
            <div class="dropdown notification icons pmd-dropdown">

                <a href="javascript:void(0)" title="Notification" class="dropdown-toggle pmd-ripple-effect"
                    data-toggle="dropdown" role="button" aria-expanded="true">
                    <div data-badge="3" class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap">
                        notifications_none
                    </div>
                </a>

                <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu">
                    <!-- Card header -->
                    <div class="pmd-card-title">
                        <div class="media-body media-middle">
                            <a href="notifications.html" class="pull-right">3 new notifications</a>
                            <h3 class="pmd-card-title-text">Notifications</h3>
                        </div>
                    </div>

                    <!-- Notifications list -->
                    <ul class="list-group pmd-list-avatar pmd-card-list">
                        <li class="list-group-item hidden">
                            <p class="notification-blank">
                                <span class="dic dic-notifications-none"></span>
                                <span>You don´t have any notifications</span>
                            </p>
                        </li>
                        <li class="list-group-item unread">
                            <a href="javascript:void(0)">
                                <div class="media-left">
                                    <span class="avatar-list-img40x40">
                                        <img alt="40x40" data-src="holder.js/40x40" class="img-responsive"
                                            src="themes/images/profile-1.png" data-holder-rendered="true">
                                    </span>
                                </div>
                                <div class="media-body">
                                    <span class="list-group-item-heading"><span>Prathit</span> posted a new
                                        challanegs</span>
                                    <span class="list-group-item-text">5 Minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:void(0)">
                                <div class="media-left">
                                    <span class="avatar-list-img40x40">
                                        <img alt="40x40" data-src="holder.js/40x40" class="img-responsive"
                                            src="themes/images/profile-2.png" data-holder-rendered="true">
                                    </span>
                                </div>
                                <div class="media-body">
                                    <span class="list-group-item-heading"><span>Keel</span> Cloned 2 challenges.</span>
                                    <span class="list-group-item-text">15 Minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item unread">
                            <a href="javascript:void(0)">
                                <div class="media-left">
                                    <span class="avatar-list-img40x40">
                                        <img alt="40x40" data-src="holder.js/40x40" class="img-responsive"
                                            src="themes/images/profile-3.png" data-holder-rendered="true">
                                    </span>
                                </div>

                                <div class="media-body">
                                    <span class="list-group-item-heading"><span>John</span> posted new
                                        collection.</span>
                                    <span class="list-group-item-text">25 Minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item unread">
                            <a href="javascript:void(0)">
                                <div class="media-left">
                                    <span class="avatar-list-img40x40">
                                        <img alt="40x40" data-src="holder.js/40x40" class="img-responsive"
                                            src="themes/images/profile-4.png" data-holder-rendered="true">
                                    </span>
                                </div>
                                <div class="media-body">
                                    <span class="list-group-item-heading"><span>Valerii</span> Shared 5
                                        collection.</span>
                                    <span class="list-group-item-text">30 Minutes ago</span>
                                </div>
                            </a>
                        </li>
                    </ul><!-- End notifications list -->

                </div>


            </div> <!-- End notifications -->

        </div>
        <div class="pmd-navbar-right-icon pull-right navigation">

            <!-- Notifications -->
            <div class="dropdown notification icons pmd-dropdown">


                <a style="color: white!important; margin-right: 10px;" href="/p/hopital" title="Notification"
                    class="dropdown-toggle pmd-ripple-effect">
                    MFL - TOGO
                </a>



                <a style="color: white!important; margin-right: 10px" href="/" title=""
                    class="dropdown-toggle pmd-ripple-effect">
                    ADMINISTRATION
                </a>
            </div> <!-- End notifications -->

        </div>
        <!-- Brand and toggle   grouped for better mobile display -->
        <div class="navbar-header">
            <a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush"
                is-open="true" is-open-width="1200"
                class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i
                    class="material-icons md-light">menu</i></a>
            <a href="index.html" class="navbar-brand">
                REPERTOIRE DES STRUCTURES SANITAIRES
            </a>
        </div>

    </div>

</nav>
<!--End Nav bar -->
<!-- Header Ends -->

<!-- Sidebar Starts -->
<div class="pmd-sidebar-overlay"></div>


<router-outlet> </router-outlet>
<!-- Footer Starts -->
<footer class="admin-footer">
    <div class="container-fluid">
        <ul class="list-unstyled list-inline">
            <li>
                <span class="pmd-card-subtitle-text">MFL &copy; <span class="auto-update-year"></span>. All Rights
                    Reserved.</span>
                <h3 class="pmd-card-subtitle-text">Licensed under <a href="#" target="_blank">OBST license.</a></h3>
            </li>


        </ul>
    </div>
</footer>
<!-- Footer Ends -->
