<!--content area start-->
<div id="content" class="content-area dashboard">

	<div class="container-fluid">
		<div class="row" id="card-masonry">

			<div class="pmd-card pmd-z-depth col-md-12">
				<div class="pmd-tabs">
					<div class="pmd-tab-active-bar"></div>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#structure_sanitaire" aria-controls="default" role="tab"
								data-toggle="tab">Structures sanitaires</a></li>
						<li role="centre_sante"><a href="#centre_sante" aria-controls="scrollable" role="tab"
								data-toggle="tab">Centre de santé</a></li>
						<li role="phamarcie"><a href="#phamarcie" aria-controls="fixed" role="tab" data-toggle="tab">Phamarcie</a>
						</li>
					</ul>
				</div>
				<div class="pmd-card-body">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="structure_sanitaire">
							<div class="col-md-12">
								<div style="display: block; width: 100%">
									<canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
										[legend]="barChartLegend" [chartType]="barChartType">
									</canvas>
								</div>
							</div>
							<div class="col-md-12">
								<div role="tabpanel" class="tab-pane " id="laboratoire">
									<div style="display: block">
										<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels"
											[chartType]="pieChartType"></canvas>
									</div>
								</div>
							</div>

						</div>
						<div role="tabpanel" class="tab-pane " id="centre_sante">
							<div style="display: block">
								<canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
									[chartType]="doughnutChartType"></canvas>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane " id="phamarcie">
							<!-- <div style="display: block">
								<canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels"
									[chartType]="radarChartType"></canvas>
							</div> -->
							<div style="display: block">
								<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
							</div>
						</div>

					</div>
				</div>
			</div>


		</div>
	</div>

</div>
<!--end content area-->